{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
       <link rel="icon" type="image/x-icon" href="{% static '/images/icono.png' %}" />
       <title>Pokepedia</title>
</head>
<body>
       <!--Navbar-->
       <nav class="navbar navbar-expand-lg navbar-light bg-warning">
              <div class="container-fluid">
                     <a class="navbar-brand" href="http://127.0.0.1:8000/">
                            <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-text-top">
                            PokePedia
                     </a>                          
                     <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                   <a class="nav-link" href="http://127.0.0.1:8000/admin/">Admin</a>
                            </li>
                     </ul>                     
                     <form action="get_pokemon" method="post" class="d-flex">
                            {% csrf_token %}
                            <input type="text" name='pokemon' placeholder="Ingrese el nombre/numero de un Pokemon" class="form-control me-2" size="40">
                            <button class="btn btn-outline-dark" type="submit">Buscar</button>
                     </form>        
              </div>
       </nav>

       <!--Card-->
       {% if pokemon and response %}
       <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
              <div class="card bg-dark border-warning">
                     <div class="row no-gutters">
                            <div class="col-md-4">
                                   <img src="../media/{{ pokemon.apariencia }}" class="card-img ms-3">
                            </div>
                            <div class="col-md-8">
                                   <div class="card-body" style="font-size: 55px;">
                                          <p class="card-title text-warning">ID: {{ pokemon.numero }} - {{ pokemon.nombre }}
                                                 <button class="btn btn-outline-warning" id="aux">JSON</button>
                                          </p> 
                                          <p class="card-text text-white">Type: {% for x in pokemon.tipo.all %}{{ x }} {% endfor %}</p>
                                          <p class="card-text text-white">Ability: {{ pokemon.habilidad }}</p>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       <div class="modal fade" id="json_modal" tabindex="-1" role="dialog" aria-labelledby="json_modal_label" aria-hidden="true" style="word-break: break-all;">
              <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content border-dark">
                            <div class="modal-header bg-warning">
                                   <h5 class="modal-title" id="json_modal_label">JSON</h5>
                                   <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#json_modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                            {{ response }}
                            </div>
                            <div class="modal-footer">
                                   <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#json_modal">Cerrar</button>
                            </div>
                     </div>
              </div>
       </div>
       <script>
              $('#aux').on('click', function() 
              {
                     $('#json_modal').modal('show');
              });
       </script>
       {% endif %}

       {% if pokemon_db %}
       <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
              <div class="card bg-dark border-warning">
                     <div class="row no-gutters">
                            <div class="col-md-4">
                                   <img src="../media/{{ pokemon_db.apariencia }}" class="card-img ms-3">
                            </div>
                            <div class="col-md-8">
                                   <div class="card-body" style="font-size: 55px;">
                                          <p class="card-title text-warning">ID: {{ pokemon_db.numero }} - {{ pokemon_db.nombre }}</p> 
                                          <p class="card-text text-white">Type: {% for x in pokemon_db.tipo.all %}{{ x }} {% endfor %}</p>
                                          <p class="card-text text-white">Ability: {{ pokemon_db.habilidad }}</p>
                                   </div>
                            </div>
                     </div>
              </div>
       </div>
       {% endif %}

       <!--Buscar en la API-->
       {% if dato_api %}
       <div class="modal fade" id="api_modal" tabindex="-1" role="dialog" aria-labelledby="api_modal_label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content border-dark">
                            <div class="modal-header bg-warning">
                                   <h5 class="modal-title" id="api_modal_label">Pokemon no registrado</h5>
                                   <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#api_modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                            Desea buscarlo en la API?
                            <form id="form_api" action="get_pokemon_api" method="post" class="d-flex">
                                   {% csrf_token %}
                                   <input type="text" name='pokemon' value="{{ dato_api }}" placeholder="{{ dato_api }}" class="form-control mt-2" readonly>
                            </form>
                            </div>
                            <div class="modal-footer">
                                   <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#api_modal">Cerrar</button>
                                   <button class="btn btn-outline-warning" type="submit" form="form_api">Buscar</button>
                            </div>
                     </div>
              </div>
       </div>
       <script>
              $(function()
              {
                     $('#api_modal').modal('show');
              }) 
       </script>
       {% endif %}

       <!--Error-->
       {% if error %}
       <div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="error_modal_label" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                     <div class="modal-content border-dark">
                            <div class="modal-header bg-warning">
                                   <h5 class="modal-title" id="error_modal_label">ERROR</h5>
                                   <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#error_modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                            No se obtuvieron resultados.
                            </div>
                            <div class="modal-footer">
                                   <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#error_modal">Cerrar</button>
                            </div>
                     </div>
              </div>
       </div>
       <script>
              $(function()
              {
                     $('#error_modal').modal('show');
              }) 
       </script>
       {% endif %}
</body>

</html>